.container {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checked-icon,
.unchecked-icon {
  width: 1.5rem;
  fill: var(--text-color);
}

.error .checked-icon,
.error .unchecked-icon {
  width: 1.5rem;
  fill: var(--error);
}

.input ~ div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  border-radius: var(--border-radius);
}

.input:focus-visible ~ div {
  outline: 2px solid black;
  outline-offset: 2px;
}

.input ~ div .checked-icon {
  display: none;
}

.input:checked ~ div .checked-icon {
  display: block;
}

.input ~ div .unchecked-icon {
  display: block;
}

.input:checked ~ div .unchecked-icon {
  display: none;
}

.error-message {
  color: var(--error);
  font-size: 1rem;
  margin-top: 4px;
}
