.input-wrapper {
  position: relative;
}

$toggle-icon-width: 1.25rem;

.input-wrapper input {
  padding-right: calc($toggle-icon-width + 16px);
}

.input-wrapper .password-toggle {
  position: absolute;
  width: $toggle-icon-width;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
